<header>
  <div class="bg-gray-800">
    <div class="md:w-3/4 mx-auto flex justify-between p-4">
      <app-logo brand="Playground"></app-logo>

      <nav class="flex flex-row space-x-3">
        <a routerLink="/template" [routerLinkActive]="['text-blue-200', 'font-bold']" class="block text-gray-400 hover:text-gray-200">Template</a>
        <a routerLink="/form" [routerLinkActive]="['text-blue-200', 'font-bold']" class="block text-gray-400 hover:text-gray-200">Form</a>
        <a routerLink="/labs" [routerLinkActive]="['text-blue-200', 'font-bold']" class="block text-gray-400 hover:text-gray-200">Labs</a>
      </nav>
    </div>
  </div>
  <div class="md:w-3/4 mx-auto mt-3 p-4 bg-gray-100 rounded-md shadow-sm">
    <router-outlet></router-outlet>
  </div>
</header>
